#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .box {
    border: 3px solid #75836d;
    padding: 20px;
    margin: 20px;
  }
  
  .card {
    padding: 2em;
  }
  